.h3 {
    text-align: center;
}

#botones{
    text-align: right;
}

.card-footer{
    background-color: #d2d9e8;
    color: #1E1E1E;
    text-align: left;
    
}
    
.card{
    align-content: center;
    max-width: 40rem;
    max-height: 50rem;
}

